ZNS_B_O_TR_M_11H.json
{
  "name": "ZNS_BÁO_TRÁM_11H",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10,
              "triggerAtMinute": 53
            },
            {
              "triggerAtHour": 10,
              "triggerAtMinute": 54
            },
            {
              "triggerAtHour": 10,
              "triggerAtMinute": 55
            },
            {
              "triggerAtHour": 10,
              "triggerAtMinute": 56
            },
            {
              "triggerAtHour": 10,
              "triggerAtMinute": 57
            },
            {
              "triggerAtHour": 10,
              "triggerAtMinute": 58
            },
            {
              "triggerAtHour": 10,
              "triggerAtMinute": 59
            },
            {
              "triggerAtHour": 11
            },
            {
              "triggerAtHour": 11,
              "triggerAtMinute": 1
            },
            {
              "triggerAtHour": 11,
              "triggerAtMinute": 2
            },
            {
              "triggerAtHour": 11,
              "triggerAtMinute": 3
            }
          ]
        }
      },
      "id": "edc11124-63f4-4e92-8b27-5f59b6fdb0d0",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1060,
        460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.caresoft.vn/GalaxyHN/api/v1/zalo/zns",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer l96RBHiEWhOFvTo"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"zns\": {\n        \"phone\": \"0{{ $json['Số điện thoại'] }}\",\n        \"template_id\": 8715,\n      \"params\": {\n          \"Name\":\"{{ $json['Tên HV'] }}\",\n          \"Student_ID\":\"{{ $json['ID HV'] }}\",\n          \"date\":\"{{ $json['Ngày'] }}\",\n          \"GV\":\"{{ $json['GV nghỉ'] }}\"\n      }\n    }\n}",
        "options": {
          "redirect": {}
        }
      },
      "id": "7daac928-4d71-4302-8bcd-c1171ffd6fa1",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1620,
        460
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1_qUpmmGaGa5aUT7ZJvUe9C05X_ecchUYLJrJR_-6xYs/edit?gid=1310916364#gid=1310916364",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1310916364,
          "mode": "list",
          "cachedResultName": "Trám",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_qUpmmGaGa5aUT7ZJvUe9C05X_ecchUYLJrJR_-6xYs/edit#gid=1310916364"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "CheckDK",
              "lookupValue": "ZNS 11h"
            }
          ]
        },
        "options": {}
      },
      "id": "eb5e7963-3ed0-4642-bc08-e7b5024a47de",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1260,
        460
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yOwsBzfxDgNg9Gqd",
          "name": "Quantd"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1_qUpmmGaGa5aUT7ZJvUe9C05X_ecchUYLJrJR_-6xYs/edit?gid=1310916364#gid=1310916364",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1310916364,
          "mode": "list",
          "cachedResultName": "Trám",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_qUpmmGaGa5aUT7ZJvUe9C05X_ecchUYLJrJR_-6xYs/edit#gid=1310916364"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "IDRow": "={{ $('Google Sheets').item.json.IDRow }}",
            "LinkZNS": "=https://web22.caresoft.vn/GalaxyHN#/index?type=ticket&id={{ $json.ticket.ticket_id }}",
            "Trạng thái gửi": "Thành công"
          },
          "matchingColumns": [
            "IDRow"
          ],
          "schema": [
            {
              "id": "Ngày",
              "displayName": "Ngày",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sản phẩm\n( Bắt buộc )",
              "displayName": "Sản phẩm\n( Bắt buộc )",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check hv VIP",
              "displayName": "Check hv VIP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Trám tiếp hay nghỉ",
              "displayName": "Trám tiếp hay nghỉ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mã lớp",
              "displayName": "Mã lớp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID HV",
              "displayName": "ID HV",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tên HV",
              "displayName": "Tên HV",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Số điện thoại",
              "displayName": "Số điện thoại",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Số điện thoại 2\n(Cột CT Cấm điền)",
              "displayName": "Số điện thoại 2\n(Cột CT Cấm điền)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "GV nghỉ",
              "displayName": "GV nghỉ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ca học",
              "displayName": "Ca học",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Loại lớp",
              "displayName": "Loại lớp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lý do nghỉ",
              "displayName": "Lý do nghỉ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chi tiết lý do",
              "displayName": "Chi tiết lý do",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID BOS",
              "displayName": "ID BOS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check HV xin nghỉ\n(Cột CT Cấm điền)",
              "displayName": "Check HV xin nghỉ\n(Cột CT Cấm điền)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CTV",
              "displayName": "CTV",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "GV trám",
              "displayName": "GV trám",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "GV xin nghỉ",
              "displayName": "GV xin nghỉ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CA TRÁM",
              "displayName": "CA TRÁM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Note",
              "displayName": "Note",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Trạng thái liên hệ",
              "displayName": "Trạng thái liên hệ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hủy lớp\n( BOS / CLassin )",
              "displayName": "Hủy lớp\n( BOS / CLassin )",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Đổi lớp\n( BOS / CLassin )",
              "displayName": "Đổi lớp\n( BOS / CLassin )",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Gửi tin nhắn (Nếu k liên lạc được)",
              "displayName": "Gửi tin nhắn (Nếu k liên lạc được)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link gọi",
              "displayName": "Link gọi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Thời gian lên đơn",
              "displayName": "Thời gian lên đơn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Thời gian hoàn thành",
              "displayName": "Thời gian hoàn thành",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID Bos",
              "displayName": "ID Bos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LinkZNS",
              "displayName": "LinkZNS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Trạng thái gửi",
              "displayName": "Trạng thái gửi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CheckDK",
              "displayName": "CheckDK",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "IDRow",
              "displayName": "IDRow",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Concatenate(hằng)",
              "displayName": "Concatenate(hằng)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "70e32d60-d3c7-4f3e-a898-ae5738349d54",
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2200,
        380
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yOwsBzfxDgNg9Gqd",
          "name": "Quantd"
        }
      }
    },
    {
      "parameters": {
        "maxItems": 15
      },
      "id": "02df669f-de67-4398-9e85-6a89ac9e67d1",
      "name": "Limit",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1440,
        460
      ]
    },
    {
      "parameters": {
        "url": "=https://api.caresoft.vn/GalaxyHN/api/v1/tickets/{{ $json.ticket.ticketId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer l96RBHiEWhOFvTo"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "redirect": {}
        }
      },
      "id": "7123ef23-f673-400c-a55e-c9cc411c6774",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1800,
        460
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "85c1a817-a438-4d8f-886b-18c6edf101b0",
              "leftValue": "={{ $json.ticket.comments[0].addition_details }}",
              "rightValue": "Thành công",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c3e541d1-4192-4d8b-b90c-f0351e7e42b8",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1980,
        460
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1_qUpmmGaGa5aUT7ZJvUe9C05X_ecchUYLJrJR_-6xYs/edit?gid=1310916364#gid=1310916364",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1310916364,
          "mode": "list",
          "cachedResultName": "Trám",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_qUpmmGaGa5aUT7ZJvUe9C05X_ecchUYLJrJR_-6xYs/edit#gid=1310916364"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "IDRow": "={{ $('Google Sheets').item.json.IDRow }}",
            "LinkZNS": "=https://web22.caresoft.vn/GalaxyHN#/index?type=ticket&id={{ $json.ticket.ticket_id }}",
            "Trạng thái gửi": "Thất bại"
          },
          "matchingColumns": [
            "IDRow"
          ],
          "schema": [
            {
              "id": "Ngày",
              "displayName": "Ngày",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sản phẩm\n( Bắt buộc )",
              "displayName": "Sản phẩm\n( Bắt buộc )",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check hv VIP",
              "displayName": "Check hv VIP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Trám tiếp hay nghỉ",
              "displayName": "Trám tiếp hay nghỉ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mã lớp",
              "displayName": "Mã lớp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID HV",
              "displayName": "ID HV",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tên HV",
              "displayName": "Tên HV",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Số điện thoại",
              "displayName": "Số điện thoại",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Số điện thoại 2\n(Cột CT Cấm điền)",
              "displayName": "Số điện thoại 2\n(Cột CT Cấm điền)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "GV nghỉ",
              "displayName": "GV nghỉ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ca học",
              "displayName": "Ca học",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Loại lớp",
              "displayName": "Loại lớp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lý do nghỉ",
              "displayName": "Lý do nghỉ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chi tiết lý do",
              "displayName": "Chi tiết lý do",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID BOS",
              "displayName": "ID BOS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check HV xin nghỉ\n(Cột CT Cấm điền)",
              "displayName": "Check HV xin nghỉ\n(Cột CT Cấm điền)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CTV",
              "displayName": "CTV",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "GV trám",
              "displayName": "GV trám",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "GV xin nghỉ",
              "displayName": "GV xin nghỉ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CA TRÁM",
              "displayName": "CA TRÁM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Note",
              "displayName": "Note",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Trạng thái liên hệ",
              "displayName": "Trạng thái liên hệ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hủy lớp\n( BOS / CLassin )",
              "displayName": "Hủy lớp\n( BOS / CLassin )",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Đổi lớp\n( BOS / CLassin )",
              "displayName": "Đổi lớp\n( BOS / CLassin )",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Gửi tin nhắn (Nếu k liên lạc được)",
              "displayName": "Gửi tin nhắn (Nếu k liên lạc được)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link gọi",
              "displayName": "Link gọi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Thời gian lên đơn",
              "displayName": "Thời gian lên đơn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Thời gian hoàn thành",
              "displayName": "Thời gian hoàn thành",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID Bos",
              "displayName": "ID Bos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LinkZNS",
              "displayName": "LinkZNS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Trạng thái gửi",
              "displayName": "Trạng thái gửi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CheckDK",
              "displayName": "CheckDK",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "IDRow",
              "displayName": "IDRow",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Concatenate(hằng)",
              "displayName": "Concatenate(hằng)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "2593a554-8890-4d6c-9446-2855d4827e97",
      "name": "Google Sheets2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2200,
        520
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yOwsBzfxDgNg9Gqd",
          "name": "Quantd"
        }
      }
    },
    {
      "parameters": {},
      "id": "f00b7875-ed91-4346-806b-d41df9684215",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        1060,
        240
      ]
    },
    {
      "parameters": {
        "chatId": "-1002318065421",
        "text": "Lỗi  xử lý  ZNS trám 11h check lại !!!",
        "additionalFields": {}
      },
      "id": "c28d5280-79a2-4dfe-a183-0729fca42b28",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1260,
        240
      ],
      "webhookId": "98b7e039-9705-4158-8023-a50313fe9fed",
      "credentials": {
        "telegramApi": {
          "id": "2EcZ4GHvP7A5GK37",
          "name": "Báo lỗi"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 11,
              "triggerAtMinute": 4
            },
            {
              "triggerAtHour": 11,
              "triggerAtMinute": 5
            }
          ]
        }
      },
      "id": "a4153ab7-55d1-4dde-a6fd-ffe32933b719",
      "name": "Schedule Trigger1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1060,
        760
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.caresoft.vn/GalaxyHN/api/v1/zalo/zns",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer l96RBHiEWhOFvTo"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"zns\": {\n        \"phone\": \"+84{{ $json['Số điện thoại'] }}\",\n        \"template_id\": 8715,\n      \"params\": {\n          \"Name\":\"{{ $json['Tên HV'] }}\",\n          \"Student_ID\":\"{{ $json['ID HV'] }}\",\n          \"date\":\"{{ $json['Ngày'] }}\",\n          \"GV\":\"{{ $json['GV nghỉ'] }}\"\n      }\n    }\n}",
        "options": {
          "redirect": {}
        }
      },
      "id": "83c81619-0ecf-4876-bd14-c03661dcd810",
      "name": "HTTP Request2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1620,
        760
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1_qUpmmGaGa5aUT7ZJvUe9C05X_ecchUYLJrJR_-6xYs/edit?gid=1310916364#gid=1310916364",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1310916364,
          "mode": "list",
          "cachedResultName": "Trám",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_qUpmmGaGa5aUT7ZJvUe9C05X_ecchUYLJrJR_-6xYs/edit#gid=1310916364"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Trạng thái gửi",
              "lookupValue": "Thất bại"
            },
            {
              "lookupColumn": "Trạng thái liên hệ",
              "lookupValue": "Học"
            }
          ]
        },
        "options": {}
      },
      "id": "a4903eda-da50-4c16-869b-4939f3eac085",
      "name": "Google Sheets3",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1260,
        760
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yOwsBzfxDgNg9Gqd",
          "name": "Quantd"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1_qUpmmGaGa5aUT7ZJvUe9C05X_ecchUYLJrJR_-6xYs/edit?gid=1310916364#gid=1310916364",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1310916364,
          "mode": "list",
          "cachedResultName": "Trám",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_qUpmmGaGa5aUT7ZJvUe9C05X_ecchUYLJrJR_-6xYs/edit#gid=1310916364"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "IDRow": "={{ $('Google Sheets3').item.json.IDRow }}",
            "LinkZNS": "=https://web22.caresoft.vn/GalaxyHN#/index?type=ticket&id={{ $json.ticket.ticket_id }}",
            "Trạng thái gửi": "Thành công"
          },
          "matchingColumns": [
            "IDRow"
          ],
          "schema": [
            {
              "id": "Ngày",
              "displayName": "Ngày",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sản phẩm\n( Bắt buộc )",
              "displayName": "Sản phẩm\n( Bắt buộc )",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check hv VIP",
              "displayName": "Check hv VIP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Trám tiếp hay nghỉ",
              "displayName": "Trám tiếp hay nghỉ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mã lớp",
              "displayName": "Mã lớp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID HV",
              "displayName": "ID HV",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tên HV",
              "displayName": "Tên HV",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Số điện thoại",
              "displayName": "Số điện thoại",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Số điện thoại 2\n(Cột CT Cấm điền)",
              "displayName": "Số điện thoại 2\n(Cột CT Cấm điền)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "GV nghỉ",
              "displayName": "GV nghỉ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ca học",
              "displayName": "Ca học",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Loại lớp",
              "displayName": "Loại lớp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lý do nghỉ",
              "displayName": "Lý do nghỉ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chi tiết lý do",
              "displayName": "Chi tiết lý do",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID BOS",
              "displayName": "ID BOS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check HV xin nghỉ\n(Cột CT Cấm điền)",
              "displayName": "Check HV xin nghỉ\n(Cột CT Cấm điền)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CTV",
              "displayName": "CTV",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "GV trám",
              "displayName": "GV trám",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "GV xin nghỉ",
              "displayName": "GV xin nghỉ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CA TRÁM",
              "displayName": "CA TRÁM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Note",
              "displayName": "Note",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Trạng thái liên hệ",
              "displayName": "Trạng thái liên hệ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hủy lớp\n( BOS / CLassin )",
              "displayName": "Hủy lớp\n( BOS / CLassin )",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Đổi lớp\n( BOS / CLassin )",
              "displayName": "Đổi lớp\n( BOS / CLassin )",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Gửi tin nhắn (Nếu k liên lạc được)",
              "displayName": "Gửi tin nhắn (Nếu k liên lạc được)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link gọi",
              "displayName": "Link gọi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Thời gian lên đơn",
              "displayName": "Thời gian lên đơn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Thời gian hoàn thành",
              "displayName": "Thời gian hoàn thành",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID Bos",
              "displayName": "ID Bos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LinkZNS",
              "displayName": "LinkZNS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Trạng thái gửi",
              "displayName": "Trạng thái gửi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CheckDK",
              "displayName": "CheckDK",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "IDRow",
              "displayName": "IDRow",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Concatenate(hằng)",
              "displayName": "Concatenate(hằng)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "7e4caaf6-8d73-44fc-8918-5f27bc9c4f35",
      "name": "Google Sheets4",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2200,
        680
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yOwsBzfxDgNg9Gqd",
          "name": "Quantd"
        }
      }
    },
    {
      "parameters": {
        "maxItems": 15
      },
      "id": "78d7a690-20c0-44c2-a340-604599071cca",
      "name": "Limit1",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1440,
        760
      ]
    },
    {
      "parameters": {
        "url": "=https://api.caresoft.vn/GalaxyHN/api/v1/tickets/{{ $json.ticket.ticketId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer l96RBHiEWhOFvTo"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "redirect": {}
        }
      },
      "id": "c8f8ab51-22fe-4d80-a1d0-6e849e86cc18",
      "name": "HTTP Request3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1800,
        760
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "85c1a817-a438-4d8f-886b-18c6edf101b0",
              "leftValue": "={{ $json.ticket.comments[0].addition_details }}",
              "rightValue": "Thành công",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9eec513d-4b10-4f7e-9014-8da97e488c5d",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1980,
        760
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1_qUpmmGaGa5aUT7ZJvUe9C05X_ecchUYLJrJR_-6xYs/edit?gid=1310916364#gid=1310916364",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1310916364,
          "mode": "list",
          "cachedResultName": "Trám",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_qUpmmGaGa5aUT7ZJvUe9C05X_ecchUYLJrJR_-6xYs/edit#gid=1310916364"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "IDRow": "={{ $('Google Sheets3').item.json.IDRow }}",
            "LinkZNS": "=https://web22.caresoft.vn/GalaxyHN#/index?type=ticket&id={{ $json.ticket.ticket_id }}",
            "Trạng thái gửi": "Thất bại"
          },
          "matchingColumns": [
            "IDRow"
          ],
          "schema": [
            {
              "id": "Ngày",
              "displayName": "Ngày",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sản phẩm\n( Bắt buộc )",
              "displayName": "Sản phẩm\n( Bắt buộc )",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check hv VIP",
              "displayName": "Check hv VIP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Trám tiếp hay nghỉ",
              "displayName": "Trám tiếp hay nghỉ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mã lớp",
              "displayName": "Mã lớp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID HV",
              "displayName": "ID HV",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tên HV",
              "displayName": "Tên HV",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Số điện thoại",
              "displayName": "Số điện thoại",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Số điện thoại 2\n(Cột CT Cấm điền)",
              "displayName": "Số điện thoại 2\n(Cột CT Cấm điền)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "GV nghỉ",
              "displayName": "GV nghỉ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ca học",
              "displayName": "Ca học",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Loại lớp",
              "displayName": "Loại lớp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lý do nghỉ",
              "displayName": "Lý do nghỉ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chi tiết lý do",
              "displayName": "Chi tiết lý do",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID BOS",
              "displayName": "ID BOS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check HV xin nghỉ\n(Cột CT Cấm điền)",
              "displayName": "Check HV xin nghỉ\n(Cột CT Cấm điền)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CTV",
              "displayName": "CTV",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "GV trám",
              "displayName": "GV trám",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "GV xin nghỉ",
              "displayName": "GV xin nghỉ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CA TRÁM",
              "displayName": "CA TRÁM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Note",
              "displayName": "Note",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Trạng thái liên hệ",
              "displayName": "Trạng thái liên hệ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hủy lớp\n( BOS / CLassin )",
              "displayName": "Hủy lớp\n( BOS / CLassin )",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Đổi lớp\n( BOS / CLassin )",
              "displayName": "Đổi lớp\n( BOS / CLassin )",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Gửi tin nhắn (Nếu k liên lạc được)",
              "displayName": "Gửi tin nhắn (Nếu k liên lạc được)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link gọi",
              "displayName": "Link gọi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Thời gian lên đơn",
              "displayName": "Thời gian lên đơn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Thời gian hoàn thành",
              "displayName": "Thời gian hoàn thành",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID Bos",
              "displayName": "ID Bos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LinkZNS",
              "displayName": "LinkZNS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Trạng thái gửi",
              "displayName": "Trạng thái gửi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CheckDK",
              "displayName": "CheckDK",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "IDRow",
              "displayName": "IDRow",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Concatenate(hằng)",
              "displayName": "Concatenate(hằng)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "ecc9aa32-db19-4f9f-b981-35a73657d685",
      "name": "Google Sheets5",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2200,
        820
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yOwsBzfxDgNg9Gqd",
          "name": "Quantd"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 11,
              "triggerAtMinute": 6
            }
          ]
        }
      },
      "id": "bd51d29d-1e47-4b09-ba3e-d71436b0b53b",
      "name": "Schedule Trigger2",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1060,
        1060
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.caresoft.vn/GalaxyHN/api/v1/zalo/zns",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer l96RBHiEWhOFvTo"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"zns\": {\n        \"phone\": \"+{{ $json['Số điện thoại'] }}\",\n        \"template_id\": 8715,\n      \"params\": {\n          \"Name\":\"{{ $json['Tên HV'] }}\",\n          \"Student_ID\":\"{{ $json['ID HV'] }}\",\n          \"date\":\"{{ $json['Ngày'] }}\",\n          \"GV\":\"{{ $json['GV nghỉ'] }}\"\n      }\n    }\n}",
        "options": {
          "redirect": {}
        }
      },
      "id": "f79f5ba9-7908-4e4d-8efc-473de85988ae",
      "name": "HTTP Request4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1620,
        1060
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1_qUpmmGaGa5aUT7ZJvUe9C05X_ecchUYLJrJR_-6xYs/edit?gid=1310916364#gid=1310916364",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1310916364,
          "mode": "list",
          "cachedResultName": "Trám",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_qUpmmGaGa5aUT7ZJvUe9C05X_ecchUYLJrJR_-6xYs/edit#gid=1310916364"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Trạng thái gửi",
              "lookupValue": "Thất bại"
            },
            {
              "lookupColumn": "Trạng thái liên hệ",
              "lookupValue": "Học"
            }
          ]
        },
        "options": {}
      },
      "id": "03a3204b-1308-4ecb-9615-cedbe30de801",
      "name": "Google Sheets6",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1260,
        1060
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yOwsBzfxDgNg9Gqd",
          "name": "Quantd"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1_qUpmmGaGa5aUT7ZJvUe9C05X_ecchUYLJrJR_-6xYs/edit?gid=1310916364#gid=1310916364",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1310916364,
          "mode": "list",
          "cachedResultName": "Trám",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_qUpmmGaGa5aUT7ZJvUe9C05X_ecchUYLJrJR_-6xYs/edit#gid=1310916364"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "IDRow": "={{ $('Google Sheets6').item.json.IDRow }}",
            "LinkZNS": "=https://web22.caresoft.vn/GalaxyHN#/index?type=ticket&id={{ $json.ticket.ticket_id }}",
            "Trạng thái gửi": "Thành công"
          },
          "matchingColumns": [
            "IDRow"
          ],
          "schema": [
            {
              "id": "Ngày",
              "displayName": "Ngày",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sản phẩm\n( Bắt buộc )",
              "displayName": "Sản phẩm\n( Bắt buộc )",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check hv VIP",
              "displayName": "Check hv VIP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Trám tiếp hay nghỉ",
              "displayName": "Trám tiếp hay nghỉ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mã lớp",
              "displayName": "Mã lớp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID HV",
              "displayName": "ID HV",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tên HV",
              "displayName": "Tên HV",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Số điện thoại",
              "displayName": "Số điện thoại",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Số điện thoại 2\n(Cột CT Cấm điền)",
              "displayName": "Số điện thoại 2\n(Cột CT Cấm điền)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "GV nghỉ",
              "displayName": "GV nghỉ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ca học",
              "displayName": "Ca học",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Loại lớp",
              "displayName": "Loại lớp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lý do nghỉ",
              "displayName": "Lý do nghỉ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chi tiết lý do",
              "displayName": "Chi tiết lý do",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID BOS",
              "displayName": "ID BOS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check HV xin nghỉ\n(Cột CT Cấm điền)",
              "displayName": "Check HV xin nghỉ\n(Cột CT Cấm điền)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CTV",
              "displayName": "CTV",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "GV trám",
              "displayName": "GV trám",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "GV xin nghỉ",
              "displayName": "GV xin nghỉ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CA TRÁM",
              "displayName": "CA TRÁM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Note",
              "displayName": "Note",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Trạng thái liên hệ",
              "displayName": "Trạng thái liên hệ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hủy lớp\n( BOS / CLassin )",
              "displayName": "Hủy lớp\n( BOS / CLassin )",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Đổi lớp\n( BOS / CLassin )",
              "displayName": "Đổi lớp\n( BOS / CLassin )",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Gửi tin nhắn (Nếu k liên lạc được)",
              "displayName": "Gửi tin nhắn (Nếu k liên lạc được)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link gọi",
              "displayName": "Link gọi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Thời gian lên đơn",
              "displayName": "Thời gian lên đơn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Thời gian hoàn thành",
              "displayName": "Thời gian hoàn thành",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID Bos",
              "displayName": "ID Bos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LinkZNS",
              "displayName": "LinkZNS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Trạng thái gửi",
              "displayName": "Trạng thái gửi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CheckDK",
              "displayName": "CheckDK",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "IDRow",
              "displayName": "IDRow",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Concatenate(hằng)",
              "displayName": "Concatenate(hằng)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "4b65046d-920d-4882-9f46-5806fdf8494b",
      "name": "Google Sheets7",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2200,
        980
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yOwsBzfxDgNg9Gqd",
          "name": "Quantd"
        }
      }
    },
    {
      "parameters": {
        "maxItems": 15
      },
      "id": "e3b417bc-a335-46e4-b7e0-36c5da995e7a",
      "name": "Limit2",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1440,
        1060
      ]
    },
    {
      "parameters": {
        "url": "=https://api.caresoft.vn/GalaxyHN/api/v1/tickets/{{ $json.ticket.ticketId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer l96RBHiEWhOFvTo"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "redirect": {}
        }
      },
      "id": "a40afe87-b781-474d-b0e1-bbd794c8cc1d",
      "name": "HTTP Request5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1800,
        1060
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "85c1a817-a438-4d8f-886b-18c6edf101b0",
              "leftValue": "={{ $json.ticket.comments[0].addition_details }}",
              "rightValue": "Thành công",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "db8f93fd-6ab0-45f6-986a-0225a78727ae",
      "name": "If2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1980,
        1060
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1_qUpmmGaGa5aUT7ZJvUe9C05X_ecchUYLJrJR_-6xYs/edit?gid=1310916364#gid=1310916364",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1310916364,
          "mode": "list",
          "cachedResultName": "Trám",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_qUpmmGaGa5aUT7ZJvUe9C05X_ecchUYLJrJR_-6xYs/edit#gid=1310916364"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "IDRow": "={{ $('Google Sheets6').item.json.IDRow }}",
            "LinkZNS": "=https://web22.caresoft.vn/GalaxyHN#/index?type=ticket&id={{ $json.ticket.ticket_id }}",
            "Trạng thái gửi": "Thất bại"
          },
          "matchingColumns": [
            "IDRow"
          ],
          "schema": [
            {
              "id": "Ngày",
              "displayName": "Ngày",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sản phẩm\n( Bắt buộc )",
              "displayName": "Sản phẩm\n( Bắt buộc )",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check hv VIP",
              "displayName": "Check hv VIP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Trám tiếp hay nghỉ",
              "displayName": "Trám tiếp hay nghỉ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mã lớp",
              "displayName": "Mã lớp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID HV",
              "displayName": "ID HV",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tên HV",
              "displayName": "Tên HV",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Số điện thoại",
              "displayName": "Số điện thoại",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Số điện thoại 2\n(Cột CT Cấm điền)",
              "displayName": "Số điện thoại 2\n(Cột CT Cấm điền)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "GV nghỉ",
              "displayName": "GV nghỉ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ca học",
              "displayName": "Ca học",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Loại lớp",
              "displayName": "Loại lớp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lý do nghỉ",
              "displayName": "Lý do nghỉ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chi tiết lý do",
              "displayName": "Chi tiết lý do",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID BOS",
              "displayName": "ID BOS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check HV xin nghỉ\n(Cột CT Cấm điền)",
              "displayName": "Check HV xin nghỉ\n(Cột CT Cấm điền)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CTV",
              "displayName": "CTV",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "GV trám",
              "displayName": "GV trám",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "GV xin nghỉ",
              "displayName": "GV xin nghỉ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CA TRÁM",
              "displayName": "CA TRÁM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Note",
              "displayName": "Note",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Trạng thái liên hệ",
              "displayName": "Trạng thái liên hệ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hủy lớp\n( BOS / CLassin )",
              "displayName": "Hủy lớp\n( BOS / CLassin )",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Đổi lớp\n( BOS / CLassin )",
              "displayName": "Đổi lớp\n( BOS / CLassin )",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Gửi tin nhắn (Nếu k liên lạc được)",
              "displayName": "Gửi tin nhắn (Nếu k liên lạc được)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link gọi",
              "displayName": "Link gọi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Thời gian lên đơn",
              "displayName": "Thời gian lên đơn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Thời gian hoàn thành",
              "displayName": "Thời gian hoàn thành",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID Bos",
              "displayName": "ID Bos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LinkZNS",
              "displayName": "LinkZNS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Trạng thái gửi",
              "displayName": "Trạng thái gửi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CheckDK",
              "displayName": "CheckDK",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "IDRow",
              "displayName": "IDRow",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Concatenate(hằng)",
              "displayName": "Concatenate(hằng)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "98909309-cbf3-4cb0-974b-f510b8f612fe",
      "name": "Google Sheets8",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2200,
        1120
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yOwsBzfxDgNg9Gqd",
          "name": "Quantd"
        }
      }
    },
    {
      "parameters": {},
      "id": "2824afb6-f80d-4f82-8b2f-b67b0d6db14e",
      "name": "Merge2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2420,
        1040
      ]
    },
    {
      "parameters": {},
      "id": "b153a346-92e5-418c-8bf5-7afc43c6e76f",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2420,
        440
      ]
    },
    {
      "parameters": {},
      "id": "4a02afb9-f0fc-4c02-8e77-a3fccfae32b6",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2420,
        740
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Google Sheets3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets3": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets4": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Google Sheets4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets5": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Schedule Trigger2": {
      "main": [
        [
          {
            "node": "Google Sheets6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets6": {
      "main": [
        [
          {
            "node": "Limit2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets7": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit2": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Google Sheets7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets8": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "76bde3ef-615c-4e1c-9d8a-d45bb21288ea",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "34d6c8416ab990d4be347bd9d4963440b5ae40b1d8168ac2eb8d09f6a7ac95ce"
  },
  "id": "ifP4meAIdDV9F5cL",
  "tags": []
}